* {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

h1 {
    color: blue;
    background-color: green;
}

#id_tirulo {
    color: yellow;
    background-color: red;
}

.clase_titulos {
    color: coral;
    background-color: black;
}

img[src*="jpg"] {
    width: 200px;
    height: 300px;
}

label:hover {
    color: white;
}

label:active {
    color: blue;
}